[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
databento = "==0.77.0"
pyarrow = "==24.0.0"
polars = "==1.40.1"
duckdb = "==1.5.2"

[dev-packages]

[requires]
python_version = "3.14"
python_full_version = "3.14.0"
